<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to our website!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% block body %}
        <div id="top">
        {% include 'menu.html.twig' %}
        </div>
        <div style="clear: both;"></div>

        <div id="boxes">
        
        </div>
        <div id="bottom">
            Sergiusz 2017 
        </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>

</html>

