{% block body %}
<div id="box">
        <div class="title">Website</div>
        <nav id="menu">
        <a href="#">Homepage</a>
        <a href="#">Posts</a>
        <a href="#">My profile</a>
        <a href="#">Register</a>
        </nav>
</div>
{% endblock %}